# =========================
# Python
# =========================
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.so
*.egg-info/
.eggs/

# Virtual environment
.venv/
venv/
env/

# =========================
# Environment variables
# =========================
.env
.env.*

# =========================
# Pytest / coverage
# =========================
.pytest_cache/
.coverage
htmlcov/

# =========================
# Logs
# =========================
*.log

# =========================
# IDEs
# =========================
.idea/
.vscode/
*.iml

# =========================
# OS
# =========================
.DS_Store
Thumbs.db

# =========================
# Docker
# =========================
**/postgres-data/
docker/postgres-data/

# =========================
# Alembic (se usar no futuro)
# =========================
alembic/versions/*.pyc
