services:
  db:
    image: postgres:15
    container_name: postgres-db
    environment:
      POSTGRES_DB: shipay
      POSTGRES_USER: shipay_user
      POSTGRES_PASSWORD: shipay_pass
    ports:
      - "5432:5432"
    volumes:
      - postgres_data:/var/lib/postgresql/data

  api:
    build:
      context: ..
      dockerfile: docker/Dockerfile
    depends_on:
      - db
    env_file:
      - ../.env
    ports:
      - "8000:8000"

volumes:
  postgres_data:
